@import "./partials/base";

@mixin flexbox ($flexDirection, $justifyContent, $alignItems){
    display:flex;
    flex-direction: $flexDirection;
    justify-content:$justifyContent;
    align-items:$alignItems;
}

@mixin borderBox(){
    box-sizing: border-box;
}

body{
    background-color:$fondo;
    margin: 0; 
    font-family: $fuente;
    color: $color-tipo;
    list-style:none;

    .sticky{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 1;

        nav{
            width:100%;
            height: 75px;
            background-color: $fondo;
            
            @include flexbox (row, space-between, center);
            z-index:1;
            position:relative;

            ul{
                list-style:none;
                position:absolute;
                top:59px;

                li{
                    width: 180px;
                    height:70px;
                    background-color:$fondo;
                    font-size: 14px;
                    text-align: center;
                    @include flexbox(column, center, center);
                    cursor: pointer;
                }

                li:hover{
                    color:$oscuro;
                }
            }
            
            #logo{
                width:95px;
                height: 75px;
                background-color: $logo;
                @include flexbox(row, center, center);
                cursor:pointer;

                #capa_1{
                    width: 45px;
                    height: 40px;
                    margin:0;
                }
            } 

            .buscador{
                width:85%;
                height: 75px;
                background-color:$fondo;
                @include borderBox();
                @include flexbox(row, flex-start, center);
                margin-right: 4%;
    
                svg{
                    width: 18px;
                    height: 18px;
                    color:$color-tipo;
                }
    
                input{
                    width: 80%;
                    font-weight: 300;
                    font-size: 16px;
                    border:none;
                    @include borderBox();
                    margin-left: 15px;
                }
            }

            #hamburguesa{
                width: 20px;
                height: 20px;
                color:$color-tipo;
                margin-right: 2%;
                display:none;
            }
        }
    }

    .contenedor{
        width:100%;
        @include flexbox(row, flex-start, flex-start);
        
        ul{
            @include flexbox(column, flex-start,center);
            background-color:$fondo;
            margin: 0;
            padding:0;
            position: -webkit-sticky;
            position: sticky;
            top:75px;
           
            .categorias{
                width: 95px;
                height: 95px;
                background-color:$fondo;
                font-size: 9px;
                text-transform: uppercase;
                text-align: center;
                border-bottom: 1px solid $contenedor;
                cursor:pointer;
                @include flexbox(column, center, center);

                svg{
                    width: 20px;
                    height: 20px;
                    color: $fondo;  
                    margin-bottom: 5px;
                }

                p{
                    margin-bottom: 10px;
                }
            }
        }
    }

    .contenedorVertical{
        width:100%;
        margin:0;
        padding:0;
        background-color: $contenedor;
        @include flexbox(column, flex-start, center);

        .presentacion{
            width: 100%;
            height: $alto;
            background: url("../img/batman.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            display:block;
            position: relative;
        }

        .presentacion:before{
            content: "";
            width:100%;
            height:100%;
            background-color: $fondo;
            opacity:0.7;
            display: block;
            position: absolute;
        }

        .texto{
            width:100%;
            height: $alto;
            position: absolute;
            @include flexbox(row, center, center);

            h1{
                font-size: 28px;
                font-weight: 500;
                margin:0;
                text-transform: uppercase;
                color: $oscuro;
            }
        }

        .contenedorPeliculas{
            width: 100%; 
            @include borderBox();
            padding: 25px;
            background-color: $contenedor;

            nav{
                width:100%;
                padding:23px 15px;
                @include borderBox();
                background-color: $contenedor;
                @include flexbox(row, space-between, center);

                h2{
                    font-size:18px;
                    font-weight:300;
                    color:$oscuro;
                    margin:0;
                }

                h3{
                    font-size:12px;
                    font-weight:300; 
                    margin:0;
                    cursor:pointer;
                }
            }

            ul{
                width:100%;
                @include flexbox(row, flex-start, flex-start);
                flex-wrap: wrap;
                background-color:$contenedor;

                .pelis{
                    width: 20%;
                    padding: 30px;
                    background-color: $contenedor;
                    @include borderBox();
                    @include flexbox(column, space-between, center);
                    
                    .imagen{

                        img{
                        width:100%;
                        height:auto;
                        cursor: pointer;
                        }
                    }

                    .tituloPeli{
                        font-size:14px;
                        color:$color-tipo;
                        margin-top:15px;
                        text-transform:capitalize;
                    }
                }

            }
        }
    }
    .menuH{
        display:none;
    }
    .boton{
        width:100%;
        @include flexbox(row, center, center);

        button{
            width:95px;
            height: 36px;
            border: 1px solid;
            border-color: $oscuro;
            color:$oscuro;
            @include flexbox(row, center, center);
            text-transform:uppercase;
            cursor:pointer;
        }

        button:hover{
            background-color: $oscuro;
            color:$fondo;
        }
    }

    .modal{
        width:100%;
        height:100vh;
        background-color:$oscuro;
        opacity: 0.98;
        position:fixed;
        top:0;
        left:0;
        z-index:2;
        overflow: auto;

        .contenedorModal{
            width: 768px;
            height: 700px;
            position: relative;
            z-index: 5;
            background-color:$fondo;
            margin: 40px auto;

            .modalEncabezado{
                height: 350px;
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;    
            }

            .modalEncabezado:before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                background:$oscuro;
                opacity: 0.85;    
            }

            .modalInformacion{
                @include flexbox(row, flex-start, flex-start);
                flex-wrap: wrap;  
            }

            .cerrar{
                width:40px;
                height: 40px;
                @include flexbox(row, center, center);
                position:absolute;
                top:0;
                right:0;
                cursor:pointer;

                svg{
                    width:20px;
                    height: 20px;
                    color:$fondo;

                }
            }

            .cerrar:hover{
                background-color: $logo;
            }

            .contenedorModalInfo{
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
                @include flexbox(row, center, center);
                @include borderBox();

                .modalPoster{
                    width:50%;
                    height: 100%;
                    @include flexbox(row, center, flex-start);

                    img{
                        width:300px;
                        margin-top: 40px;
                    }
                }

                .modalInformacionPeli{
                    width:50%;
                    height: 60%;
                    padding-right: 30px;
                    @include borderBox();
                    @include flexbox(column, flex-start, flex-start);

                    h4{
                        font-size: 30px;
                        font-weight: 500;
                        line-height: 1.4;
                        color:$logo;
                        margin:0;
                    }

                    p{
                        font-size: 14px;
                        font-weight: 300;
                        color: $fondo;
                        margin-top: 10px;
                    }
                    
                    .masInfo{

                        position: absolute;
                        top: 358px;
                        padding-right: 30px;
                        @include borderBox();

                        span{
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 1.8;
                            color:$oscuro;
                            padding-right: 40px;
                        }
    

                        h5{
                            margin-top: 10px;
                            margin-bottom: 0;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 16px;
                            color: $logo;

                        }

                        p{
                            color: $oscuro;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }    
    }
}


@media screen and (max-width: 768px) {

    body{

        nav{
            height: 50px;
                
            #logo{
                width:55px;
                height: 50px;
                margin-right: 2%;
    
                #capa_1{
                    width: 35px;
                    height: 31px;
                }
            } 
            
            .buscador{
                width: 75%;
                height: 50px;
                margin-right: 1%;
        
                svg{
                    width: 14px;
                    height: 14px;
                }
        
                input{
                    width: 60%;
                    font-weight: 300;
                    font-size: 16px;
                    border:none;
                    @include borderBox();
                    margin-left: 15px;
                }
            }
    
            #hamburguesa{
                display:inline !important;
                margin-right: 2%;
                cursor:pointer;
            }
        }
    
        .contenedor{
            width:100%;
            @include flexbox(row, flex-start, flex-start);
                    
            ul{
                display:none;
            }
        }
    
        .contenedorVertical{

            .presentacion{
                height: $altoMobile;

                .opacidad{
                    height: $altoMobile;
                }
    
                .texto{
                    height: $altoMobile;

                    h1{
                        font-size: 22px;
                    }
                }
            }
    
            .contenedorPeliculas{
                padding: 10px;

                nav{
                    padding:20px 10px;

                    h2{
                        font-size:16px;
                    }
                }
    
                ul{
                    .pelis{
                        width: 50%;
                        height: 100%;
    
                        .tituloPeli{
                            width: 100%;
                            font-size:12px;
                            text-align: left;
                        }
                    }

                    .quinta{
                        display:none;
                    }
                }
            }
        }
       
        .menuH{
            width:100%;
            height: 80vh;
            background:$contenedor;
            @include flexbox(row, center, flex-start);
            flex-wrap: wrap;
            list-style:none;
            margin:0;
            padding:0;

            .menuHamb{
                width:50%;
                height: 50%;
                @include flexbox(column, center, center);
                cursor:pointer;

                svg{
                    width: 20px;
                    height: 20px;
                    color: $fondo;  
                    margin-bottom: 3px;
                }

                p{
                    margin-bottom: 10px;
                }

            }
        }

        .modal{
    
            .contenedorModal{
                width: 100%;
                height: 700px;
                margin: 0;
    
                .modalEncabezado{
                    height: 350px;
                    position: relative;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;    
                }
    
                .modalEncabezado:before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    background:$oscuro;
                    opacity: 0.85;    
                }
    
                .modalInformacion{
                    @include flexbox(row, flex-start, flex-start);
                    flex-wrap: wrap;  
                }
    
                .cerrar{
                    width:40px;
                    height: 40px;
                    @include flexbox(row, center, center);
                    position:absolute;
                    top:0;
                    right:0;
                    cursor:pointer;
    
                    svg{
                        width:20px;
                        height: 20px;
                        color:$fondo;
    
                    }
                }
    
                .cerrar:hover{
                    background-color: $logo;
                }
    
                .contenedorModalInfo{
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    @include flexbox(row, center, center);
                    @include borderBox();
    
                    .modalPoster{
                        display:none;
                    }
    
                    .modalInformacionPeli{
                        width:100%;
                        height: 60%;
                        padding: 20px;
                        @include borderBox();
                        @include flexbox(column, flex-start, center);
    
                        h4{
                            font-size: 13px;
                            font-weight: 300;
                            line-height: 1.8;
                            color:$logo;
                            margin:0;
        
                        }
    
                        p{
                            font-size: 14px;
                            font-weight: 300;
                            color: $fondo;
                            margin-top: 20px;
                        }
                        
                        .masInfo{
    
                            position: absolute;
                            top: 358px;
                            padding-right: 30px;
                            @include borderBox();
    
                            span{
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 1.8;
                            }
    
                            h5{
                                margin-top: 20px;
                                font-size: 14px; 
                            }
                        }
                    }
                }
            }    
        }
    } 
}

.noVisible{
    display:none !important;
}

.chauScroll{
    height: 80vh;
    overflow: hidden !important;
}

.spinner, .spinner:after{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    position: fixed;
    top:50%;
    left:50%;
    z-index:32;
  }
  .spinner {
    background-color: transparent;
    border-top: 5px solid $fondo;
    border-right: 5px solid $fondo;
    border-bottom: 5px solid $fondo;
    border-left: 5px solid rgba(255,255,255,.2);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading
  }

  @keyframes spinner-loading{
    0% {
        transform: rotate(0deg)
    } to {
        transform: rotate(1turn)
    }
  }
   