@import "./partials/base";

@mixin flexbox ($flexDirection, $justifyContent, $alignItems){
    display:flex;
    flex-direction: $flexDirection;
    justify-content:$justifyContent;
    align-items:$alignItems;
}

@mixin borderBox(){
    box-sizing: border-box;
}

body{
    background-color:#f8f8f8;
    margin: 0;

    .contenedorGeneral{
        width: 100%;
        height: 100%;
        font-family: $fuente;
        color: $color-tipo;
        @include flexbox(row, flex-start, flex-start);
        
        ul{
            height: 100vh;
            list-style:none;
            @include flexbox(column, flex-start,center);
            background-color: $fondo;
            margin: 0;
            padding:0;
                
            li{
                width: 95px;
                height: 95px;
                background-color: $fondo;
                font-size: 9px;
                text-transform: uppercase;
                text-align: center;
                @include flexbox(column, center, center);

                svg{
                    width: 20px;
                    height: 20px;
                    color: $fondo;  
                    margin-bottom: 5px;
                }

                p{
                    margin:0;
                }
            }

            #logo{
                height: 75px;
                background-color: $logo;
                @include flexbox(row, center, center);

                #capa_1{
                    width: 45px;
                    height: 40px;
                    margin:0;
                }
            }       
        } 
        
        .contenedorVertical{
            width:100%;
            margin:0;
            padding:0;
            @include flexbox(column, flex-start, center);

            .nav{
                width:100%;
                height: 75px;
                background-color:$fondo;
                @include borderBox();
                padding-left: 40px;
                @include flexbox(row, flex-start, center);

                svg{
                    width: 18px;
                    height: 18px;
                    color:$color-tipo;

                }

                input{
                    width: 70%;
                    font-weight: 300;
                    font-size: 16px;
                    border:none;
                    @include borderBox();
                    margin-left: 15px;
                }
            }

            .presentacion{
                // @include flexbox(row, center, center);
                width: 100%;
                height: $alto;
                background: url("../img/batman.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                display:block;
                position: relative;

                .opacidad{
                    width:100%;
                    height: $alto;
                    @include borderBox();
                    position: absolute;
                    background:white;
                    opacity:0.7;
                    margin:0;
                }

                .texto{
                    width:100%;
                    height: $alto;
                    position: absolute;
                    @include flexbox(row, center, center);

                    
                    h1{
                        font-size: 28px;
                        font-weight: 500;
                        margin:0;
                        text-transform: uppercase;
                        color:black;
                    }
                }
            }

            .contenedorPeluculas{
                width: 100%;
                height: auto; 
                background-color:blue;
            }

        }
    }
}
        
   