/* line 14, ../sass/style.scss */
body {
  background-color: #f8f8f8;
  margin: 0;
}
/* line 18, ../sass/style.scss */
body .contenedorGeneral {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #838D91;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 25, ../sass/style.scss */
body .contenedorGeneral ul {
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0;
}
/* line 33, ../sass/style.scss */
body .contenedorGeneral ul li {
  width: 95px;
  height: 95px;
  background-color: white;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 42, ../sass/style.scss */
body .contenedorGeneral ul li svg {
  width: 20px;
  height: 20px;
  color: white;
  margin-bottom: 5px;
}
/* line 49, ../sass/style.scss */
body .contenedorGeneral ul li p {
  margin: 0;
}
/* line 54, ../sass/style.scss */
body .contenedorGeneral ul #logo {
  height: 75px;
  background-color: #bc3b69;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 59, ../sass/style.scss */
body .contenedorGeneral ul #logo #capa_1 {
  width: 45px;
  height: 40px;
  margin: 0;
}
/* line 67, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* line 73, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .nav {
  width: 100%;
  height: 75px;
  background-color: white;
  box-sizing: border-box;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* line 81, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .nav svg {
  width: 18px;
  height: 18px;
  color: #838D91;
}
/* line 88, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .nav input {
  width: 70%;
  font-weight: 300;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  margin-left: 15px;
}
/* line 98, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .presentacion {
  width: 100%;
  height: 384px;
  background: url("../img/batman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: block;
  position: relative;
}
/* line 109, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .presentacion .opacidad {
  width: 100%;
  height: 384px;
  box-sizing: border-box;
  position: absolute;
  background: white;
  opacity: 0.7;
  margin: 0;
}
/* line 119, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .presentacion .texto {
  width: 100%;
  height: 384px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 126, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .presentacion .texto h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  color: black;
}
/* line 136, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeluculas {
  width: 100%;
  height: auto;
  background-color: blue;
}
