/* line 14, ../sass/style.scss */
body {
  background-color: #f8f8f8;
  margin: 0;
}
/* line 18, ../sass/style.scss */
body .contenedorGeneral {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #838D91;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 24, ../sass/style.scss */
body .contenedorGeneral nav {
  width: 100%;
  height: 75px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
/* line 34, ../sass/style.scss */
body .contenedorGeneral nav #logo {
  width: 95px;
  height: 75px;
  background-color: #bc3b69;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 40, ../sass/style.scss */
body .contenedorGeneral nav #logo #capa_1 {
  width: 45px;
  height: 40px;
  margin: 0;
}
/* line 47, ../sass/style.scss */
body .contenedorGeneral nav .buscador {
  width: 85%;
  height: 75px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 4%;
}
/* line 55, ../sass/style.scss */
body .contenedorGeneral nav .buscador svg {
  width: 18px;
  height: 18px;
  color: #838D91;
}
/* line 61, ../sass/style.scss */
body .contenedorGeneral nav .buscador input {
  width: 80%;
  font-weight: 300;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  margin-left: 15px;
}
/* line 72, ../sass/style.scss */
body .contenedorGeneral nav #hamburguesa {
  width: 20px;
  height: 20px;
  color: #838D91;
  margin-right: 2%;
  display: none;
}
/* line 81, ../sass/style.scss */
body .contenedorGeneral .contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 86, ../sass/style.scss */
body .contenedorGeneral .contenedor ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
}
/* line 98, ../sass/style.scss */
body .contenedorGeneral .contenedor ul .categorias {
  width: 95px;
  height: 95px;
  background-color: white;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 107, ../sass/style.scss */
body .contenedorGeneral .contenedor ul .categorias svg {
  width: 20px;
  height: 20px;
  color: white;
  margin-bottom: 5px;
}
/* line 114, ../sass/style.scss */
body .contenedorGeneral .contenedor ul .categorias p {
  margin-bottom: 10px;
}
/* line 121, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* line 128, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .presentacion {
  width: 100%;
  height: 384px;
  background: url("../img/batman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: block;
  position: relative;
}
/* line 138, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .presentacion .opacidad {
  width: 100%;
  height: 384px;
  box-sizing: border-box;
  position: absolute;
  background: white;
  opacity: 0.7;
  margin: 0;
}
/* line 148, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .presentacion .texto {
  width: 100%;
  height: 384px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 155, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .presentacion .texto h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  color: #081c24;
}
/* line 165, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeliculas {
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: #f8f8f8;
}
/* line 171, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeliculas nav {
  width: 100%;
  padding: 23px 15px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 178, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeliculas nav h2 {
  font-size: 18px;
  font-weight: 300;
  color: #081c24;
  margin: 0;
}
/* line 185, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeliculas nav h3 {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}
/* line 192, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeliculas ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #f8f8f8;
}
/* line 198, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeliculas ul .pelis {
  width: 20%;
  padding: 30px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* line 208, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeliculas ul .pelis .imagen img {
  width: 100%;
  height: auto;
}
/* line 214, ../sass/style.scss */
body .contenedorGeneral .contenedorVertical .contenedorPeliculas ul .pelis .tituloPeli {
  font-size: 14px;
  color: #838D91;
  margin-top: 15px;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  /* line 234, ../sass/style.scss */
  body .contenedorGeneral nav {
    height: 50px;
  }
  /* line 237, ../sass/style.scss */
  body .contenedorGeneral nav #logo {
    width: 55px;
    height: 50px;
  }
  /* line 241, ../sass/style.scss */
  body .contenedorGeneral nav #logo #capa_1 {
    width: 35px;
    height: 31px;
  }
  /* line 247, ../sass/style.scss */
  body .contenedorGeneral nav .buscador {
    width: 75%;
    height: 50px;
    margin-right: 4%;
  }
  /* line 252, ../sass/style.scss */
  body .contenedorGeneral nav .buscador svg {
    width: 14px;
    height: 14px;
  }
  /* line 257, ../sass/style.scss */
  body .contenedorGeneral nav .buscador input {
    width: 70%;
    font-weight: 300;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    margin-left: 15px;
  }
  /* line 267, ../sass/style.scss */
  body .contenedorGeneral nav #hamburguesa {
    display: inline;
    margin-right: 2%;
  }
  /* line 273, ../sass/style.scss */
  body .contenedorGeneral .contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  /* line 278, ../sass/style.scss */
  body .contenedorGeneral .contenedor ul {
    display: none;
  }
  /* line 285, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .presentacion {
    height: 200px;
  }
  /* line 288, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .presentacion .opacidad {
    height: 200px;
  }
  /* line 292, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .presentacion .texto {
    height: 200px;
  }
  /* line 295, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .presentacion .texto h1 {
    font-size: 22px;
  }
  /* line 301, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .contenedorPeliculas {
    padding: 10px;
  }
  /* line 304, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .contenedorPeliculas nav {
    padding: 20px 10px;
  }
  /* line 307, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .contenedorPeliculas nav h2 {
    font-size: 16px;
  }
  /* line 313, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .contenedorPeliculas ul .pelis {
    width: 50%;
    height: 100%;
  }
  /* line 317, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .contenedorPeliculas ul .pelis .tituloPeli {
    width: 100%;
    font-size: 12px;
    text-align: left;
  }
  /* line 324, ../sass/style.scss */
  body .contenedorGeneral .contenedorVertical .contenedorPeliculas ul .quinta {
    display: none;
  }
}
/* line 334, ../sass/style.scss */
.noVisible {
  display: none !important;
}
